.all {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.container, .login-user-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px){
  .container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
  border-radius: 1px;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 0.5em;
}

input:focus {
  outline-color: #7439db;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: #7439db;
  cursor: pointer;
}