.single {
  display: flex;
  width: 100%;

  .singleContainer {
    flex: 6;
  }

  .top {
    padding: 20px;
    display: flex;
    gap: 20px;

    .left {
      flex: 1;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;

      .title {
        color: #575757;
        margin-bottom: 10px;
      }

      .detailItem {
        margin-bottom: 10px;
        font-size: 20px;

        .itemKey {
          font-weight: bold;
          color: gray;
          margin-right: 5px;
        }

        .itemValue {
          font-weight: 300;
        }
      }
    }

    .right {
      flex: 2;
    }
  }

  .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 10px 20px;

    .title {
      font-size: 18px;
      font-weight: 500;
      color: gray;
      margin-bottom: 15px;
    }
  }
}